name: CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  binary-compatibility-check:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      fail-fast: false
      matrix:
        kotlin-version: [ 2.2.20 ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: API check
        run: ./gradlew apiCheck --no-daemon --stacktrace

  test-ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      fail-fast: false
      matrix:
        kotlin-version: [ 2.2.20 ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Test on Ubuntu
        run: ./gradlew assemble test --no-build-cache --no-daemon --stacktrace -Doverride_kotlin=${{ matrix.kotlin-version }}

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          name: test-results-${{ matrix.kotlin-version }}
          path: ./**/build/reports/tests/

  test-windows:
    runs-on: windows-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      # On Windows the command looks a little bit different. Notice that we use the .bat file and
      # quotes for the Kotlin version, because dots "." in the Kotlin version and parameter name
      # cause issues.
      #
      # Expressions in Github actions are limited. If there would be an if expression, then we
      # wouldn't need to duplicate the next step and depending on the OS enable / disable them.
      - name: Test on Windows
        run: ./gradlew.bat assemble test --no-build-cache --no-daemon --stacktrace -Doverride_config-fullTestRun=false

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          name: test-results-windows
          path: ./**/build/reports/tests/

  dependency-guard:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Dependency Guard Check
        # Using --no-parallel to avoid the following error during dependency locking:
        # > java.lang.IllegalStateException: Something has been appended to this collector already
        #
        # https://youtrack.jetbrains.com/issue/KT-74241/Dependency-locking-sometimes-fails-with-gradle-kotlin-plugin
        # https://youtrack.jetbrains.com/issue/KT-74394/KGP-isolated-projects-Something-has-been-appended-to-this-collector-already
        run: ./gradlew dependencyGuard --no-parallel

  ktlint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: KtLint
        run: ./gradlew ktlintCheck --no-build-cache --no-daemon --stacktrace

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Android Lint in integration-tests
        working-directory: ./integration-tests
        run: ./gradlew lint

      - name: Android Lint in sample
        working-directory: ./sample
        run: ./gradlew lint

      - name: Upload Lint Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          name: lint-results
          path: ./**/build/reports/lint-results.html

  publish-maven-local:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Publish to Maven Local
        run: ./gradlew clean publishToMavenLocal --no-build-cache --no-daemon --stacktrace

  test-gradle-plugin:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    strategy:
      # Run all tasks, even if some fail. Note that they don't share an output, some tasks overlap
      # which is expected. If they need to share their outputs, then we need a proper caching
      # solution.
      fail-fast: false
      matrix:
        kotlin-version: [ 2.2.20 ]
        agp-version: [ 7.3.1 ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Test Gradle Plugin
        run: ./gradlew :gradle-plugin:assemble :gradle-plugin:test --no-build-cache --no-daemon --stacktrace -Doverride_kotlin=${{ matrix.kotlin-version }} -Doverride_agp=${{ matrix.agp-version }}

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          # Use the Kotlin version to prevent overrides.
          name: test-results-gradle-plugin-${{ matrix.kotlin-version }}-${{ matrix.agp-version }}
          path: ./**/build/reports/tests/

  kapt-for-dagger-factories:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      # Run all tasks, even if some fail. Note that they don't share an output, some tasks overlap
      # which is expected. If they need to share their outputs, then we need a proper caching
      # solution.
      fail-fast: false
      matrix:
        kotlin-version: [ 2.2.20 ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Run integration tests
        working-directory: ./integration-tests
        run: ./gradlew test --no-build-cache --no-daemon --stacktrace -Doverride_kotlin=${{ matrix.kotlin-version }} -Doverride_config-generateDaggerFactoriesWithAnvil=false

      - name: Build the sample
        working-directory: ./sample
        run: ./gradlew assembleDebug --no-build-cache --no-daemon --stacktrace -Doverride_kotlin=${{ matrix.kotlin-version }} -Doverride_config-generateDaggerFactoriesWithAnvil=false

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          # Use the Kotlin version to prevent overrides.
          name: test-results-kapt-${{ matrix.kotlin-version }}
          path: ./**/build/reports/tests/

  instrumentation-tests:
    name: Instrumentation tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      # Allow tests to continue on other devices if they fail on one device.
      fail-fast: false
      matrix:
        api-level:
          # Consider other devices in case it's needed.
          #- 24
          - 29
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: AVD cache
        uses: actions/cache/save@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@62dbb605bba737720e10b196cb4220d374026a6d # v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          disable-animations: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          force-avd-creation: false
          profile : Galaxy Nexus
          ram-size : 4096M
          target: default
          script: echo "Generated AVD snapshot for caching."

      - name: Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@62dbb605bba737720e10b196cb4220d374026a6d # v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          disable-animations: true
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          force-avd-creation: false
          profile : Galaxy Nexus
          ram-size : 4096M
          target: default
          working-directory: ./sample
          script: ./gradlew connectedCheck --no-build-cache --no-daemon --stacktrace

      - name: Upload results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: instrumentation-test-results
          path: ./**/build/reports/androidTests/connected/**

  integration-tests:
    name: Integration tests
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Integration tests
        working-directory: ./integration-tests
        run: ./gradlew test allTests --stacktrace

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          name: test-results-gradle-integration
          path: ./integration-tests/**/build/reports/tests/

  gradle-integration-tests:
    name: Gradle integration tests
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: Gradle integration tests
        run: ./gradlew gradleTest --stacktrace

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        if: ${{ failure() }}
        with:
          name: test-results-gradle-integration
          path: ./**/build/reports/tests/

  gradle-wrapper-validation:
    name: "Validate the Gradle Wrapper"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: gradle/actions/wrapper-validation@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4

  build-benchmark-project:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4
        with:
          distribution: 'zulu'
          java-version: '17'
          check-latest: true

      - name: "Generate Project"
        run: ./gradlew :createBenchmarkProject

      - name: "Build Benchmark Project"
        run: ./gradlew -p benchmark :app:assemble

  all-checks:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - binary-compatibility-check
      - test-ubuntu
      - test-windows
      - dependency-guard
      - ktlint
      - lint
      - publish-maven-local
      - test-gradle-plugin
      - kapt-for-dagger-factories
      - instrumentation-tests
      - integration-tests
      - gradle-integration-tests
      - gradle-wrapper-validation
      - build-benchmark-project

    steps:
      - name: require that all other jobs have passed
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: publish-snapshot
          jobs: ${{ toJSON(needs) }}
